---
type Props = {
  title: string
  desc: string
  tools: []
  poster: string
  slug: string
}
const {title, desc, tools, poster, slug} = Astro.props
---

<a href={`/${slug}`} class="project-card">
  <img class="project-card--poster" src={poster} alt={title.toLowerCase()}>
  <div class="text-container">
    <h3 class="proyect-card--title">{title}</h3>
    <p class="proyect-card--desc">{desc}</p>
  </div>
  <footer class="proyect-card--footer">
    <ul>
      {tools.map(tool=>{
        return <li>{tool}</li>
      })}
    </ul>
  </footer>
</a>

<style>
  .project-card{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 0 1.2rem;
    background-color: var(--grey-400);
    color: var(--background);
    border-radius: 1.5rem;
  }
  .project-card--poster{
    width: 100%;
    margin-top: 1.2rem;
    border-radius: 1.5rem;
    opacity: .7;
  }
  .proyect-card--desc{
    color: var(--background);
    opacity: .8;
  }
  .proyect-card--footer{
    width: 100%;
  }
  .proyect-card--footer ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  ul li{
    list-style: none;
    color: var(--background);
    opacity: 0.9;
  }

</style>